<html>
<head>
  <script type="text/javascript" src="/javascripts/swfobject.js"></script>
</head>
<body>
	Bar chart<br>
<%= @graph_bar %><br>
	Line chart<br>
<%= @graph_line %><br>
	Pie chart<br>
<%= @graph_pie %><br>
	Scatterline chart<br>
<%= @graph_sl %><br>
</body>
</html>